{% if adminToolbar.backendUser and app.debug %}
<nav id="navbar-front-admin" class="navbar navbar-expand-lg navbar-dark bg-faded" data-toggle="affix">
  <div class="container-fluid">
    <a href="{{ adminToolbar.menus.global.backend }}" class="navbar-brand"><img class="svg-icon" src="{{ adminToolbar.adminLogo }}?v={{ version }}" alt="logo de la chaine du droit"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#AdminNav" aria-controls="AdminNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="AdminNav">
        <ul class="navbar-nav mr-auto">
{% if adminToolbar.backendUser %}
      <li class="nav-item">
        <a class="nav-link" href="{{ adminToolbar.menus.backendUser.myaccount }}"><img src="{{ adminToolbar.backendUser.avatar.path | default( 'assets/images/avatar.png' | theme ) }}" alt="{{ adminToolbar.backendUser.login }}" class="svg-icon"> {{ adminToolbar.backendUser.login }}</a>
      </li>
{% endif %}
{% for title, link in adminToolbar.menus.menu %}
          <li class="nav-item">
            <a class="nav-link" href="{{ link }}">{{ title | capitalize }}</a>
          </li>
{% endfor %}
        </ul>
{% if adminToolbar.user or adminToolbar.backendUser %}
        <ul class="navbar-nav ml-auto">
    {% if adminToolbar.user %}
          <li class="nav-item">
            {% if edit %}
            <a class="nav-link" href="{{ 'speaker' | page({ speaker_id: user.id }) }}">Fermer</a>
            {% else %}
            <a class="nav-link" href="{{ 'speaker' | page({ speaker_id: user.id }) }}?edit=1">Editer</a>
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ adminToolbar.menus.user.myaccount }}"><img src="{{ adminToolbar.user.avatar.path | default( 'assets/images/avatar.png' | theme ) }}" alt="{{ adminToolbar.user.name }}" class="svg-icon"> {{ adminToolbar.user.name }}</a>
          </li>
    {% endif %}
        </ul>
{% endif %}
    </div> <!-- /collapse -->
  </div> <!-- /container-fluid -->
</nav>
{% endif %}
